{% extends "layout.html" %}

{% block page_name %}
    Add
{% endblock %}

{% block body %}
    <!-- add page -->
    <div class="form-container">
        <!-- show error message if there is an error -->
        <div class="form-message">
            {% if message %}
                <h1>{{ message }}</h1>
            {% else %}
                <h1 style="padding: 20px;"> </h1>
            {% endif %}
        </div>

        <!-- display page name -->
        <h1 id="page-name">Add Tracker</h1>

        <!-- add form -->
        <form class="fill-out" action="/add" method="post">
            <div class="form-question">
                <input class="form-input" name="symbol" placeholder="Symbol" autocomplete="off" autofocus type="text">
            </div>

            <button class="form-button" type="submit">Add</button>
        </form>
    </div>
{% endblock %}