{% extends "layout.html" %}

{% block page_name %}
    Tracker
{% endblock %}

{% block body %}
    <table>
        <thead>
            <tr>
                <th>Name</th>
                <th>Symbol</th>
                <th>Price</th>
                <th>Increase</th>
            </tr>
        </thead>
        <tbody>
            {% if stock_count == 0 %}
                <tr>
                    <th></th>
                    <th>Add New Trackers!</th>
                    <th></th>
                    <th></th>
                </tr>
            {% else %}
                {% for stock in stocks %}
                    <tr>
                        <th>{{ stock["name"] }}</th>
                        <th>{{ stock["symbol"] }}</th>
                        <th>{{ stock["price"] }}</th>
                        <th>{{ stock["percent_increase"] }}</th>
                    </tr>
                {% endfor %}
            {% endif %}
        </tbody>
    </table>
{% endblock %}