{% extends "layout.html" %}

{% block page_name %}
    Tracker
{% endblock %}

{% block body %}
    <div class="tracker-container">
        <table class="tracker-table">
            <thead class="tracker-head">
                <tr>
                    <th class="tracker-item-label">Symbol</th>
                    <th class="tracker-item-label">Name</th>
                    <th class="tracker-item-label">Price</th>
                    <th class="tracker-item-label">Increase</th>
                </tr>
            </thead>
            <tbody class="tracker-main">
                {% if stock_count == 0 %}
                    <tr>
                        <th class="tracker-item"></th>
                        <th class="tracker-item"><a href="/add">Add New Trackers!</a></th>
                        <th class="tracker-item"></th>
                        <th class="tracker-item"></th>
                    </tr>
                {% else %}
                    {% for stock in stocks %}
                        <tr>
                            <th class="tracker-item">{{ stock["symbol"] }}</th>
                            <th class="tracker-item">{{ stock["name"] }}</th>
                            <th class="tracker-item">{{ stock["price"] }}</th>
                            <th class="tracker-item">{{ stock["percent_increase"] }}</th>
                        </tr>
                    {% endfor %}
                {% endif %}
            </tbody>
        </table>
    </div>
{% endblock %}