{% extends "layout.html" %}

{% block page_name %}
    Register
{% endblock %}

{% block body %}
    <div class="form-container">
        <div class="form-message">
            {% if message %}
                <h1>{{ message }}</h1>
            {% else %}
                <h1> </h1>
            {% endif %}
        </div>

        <form class="fill-out" action="/register" method="post">
            <div class="form-question">
                <input class="form-input" name="username" placeholder="Username" autocomplete="off" autofocus type="text" value="{{ username }}">
            </div>

            <div class="form-question">
                <input class="form-input" name="password" placeholder="Password" autocomplete="off" type="text" value="{{ password }}">
            </div>

            <div class="form-question">
                <input class="form-input" name="retype_password" placeholder="Retype Password" autocomplete="off" type="text">
            </div>

            <button class="form-button" type="submit">Register</button>
        </form>
    </div>
{% endblock %}